.Central-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.input-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.save{
  margin-left: 200px;
  padding: 10px;
  display: flex;
  margin-top: 10px;
  background-color: aqua;
}
.input-box textarea{
  padding: 150px;
  border-color: blue;
  border-style:double;
  border-width: 5px;
  
}
